.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .chat-history {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #212226;
  }
  
  .chat-message {
    margin-bottom: 10px;
  }
  
  .chat-message.user {
    text-align: right;
  }
  
  .chat-message.assistant {
    text-align: left;
  }
  
  .chat-message span {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
  }
  
  .chat-message.user span {
    background-color: #c14a297b;
    color: white;
  }
  
  .chat-message.assistant span {
    background-color: #2975c17b;
  }
  
  .chat-input {
    display: flex;
    border-top: 0.5px solid #717182;;
  }
  
  .chat-input input {
    flex: 1;
    padding: 15px;
    border: none;
    font-size: 16px;
  }
  
  .chat-input button {
    margin-top: 0.5vw;
    height: 45px;
    padding: 0 10px;
    border: none;
    background-color: #22913da3;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #45d168a3;
    color: rgb(0, 0, 0);
  }

  